::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #0a3871;
    opacity: 0.5; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #0a3871;
    opacity: 0.5; /* Firefox */
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: #0a3871;
    opacity: 0.5; /* Firefox */
}
*{
    margin: 0;
    top: 0;
    font-family:'Courier New', Courier, monospace;
}

hr{
    height: 10px;
    border: double;
    border-color: #0a3871;
}

body{
    width: 100%;
    background: #E5E5E5;
}
header{
    /* border: solid 3px; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
}
.titulo {
    /* border: solid 2px; */
    right: 0;
}
main{
    display: flex;
    justify-content: space-around;
    margin: 20px 20px;
    
}
.izq{
    display: flex;
    width: 50%;
    /* justify-content: center; */
    /* border: solid 1px orangered; */
}
.entrada{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
}
#mensaje {
    display: flex;
    margin: 10px auto;

    width: 90%;
    height: auto;
    outline: none;
    resize: none;
    border: none;
    background: #E5E5E5;
    color: #0a3871;
    font-size: 1.5rem;
    font-weight: bold;
}
.info{
    font-weight: 400;
    font-size: .8rem;
    color: #495057;
    margin-left: 20px;
}
.botones{
    width:95%;
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    /* margin: 10px 10px; */
    gap: 12px;
}
#btnEncriptar{
    width:100%;
    padding: 24px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
    color: white;
    font-weight: 400;
    font-size: 1.1rem;
}
#btnDesencriptar{
    width:100%;
    height: 67px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-weight: 400;
    font-size: 1.1rem;
}

.der{
    background-color: #FFFFFF;
    background-image: url(imagenes/Muñeco.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-position-y: 25%;
    
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 20px;
    height: 545px;
    width: 45%;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

#resultado{
    
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    width: 90%;
    border-radius: 32px;
    border: none;
    outline: none;
    resize: none;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #495057;
    text-align:bottom;
    /* border: #0A3871 solid 1px; */
        
        
    }
.mensaje1 p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;      
}
    
.mensaje2 p{
        
    display: flex;
    justify-content: center;
    text-align: center;
    /* border: solid; */
}
    
.boton{
    /* border: solid 2px rgb(7, 255, 69); */
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 10px;

}
#btnCopiar{
    width:100%;
    border-radius: 24px;
    border: 1px solid #0A3871;
    height: 67px;
    font-weight: 400;
    font-size: 1.1rem;
}

.piePagina{
    color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 60%;
    height: 100px;
    margin: auto;
    padding: auto ;
}
a{
    text-decoration: none;
    color: black;

}

nav img{
    width: 25px;

}

@media only screen and (max-width:768px){
    main{
        display: flex;
        flex-direction: column;
        
    }
    .izq{
        
        width: 100%;
        margin-bottom: 20px;
    }

    
    .der{
        background-image: none;
        width: 90%;
        height: 333px;
        display: flex;
    }
    #resultado{
        flex: 1; 
        
        align-content: center;
    }


}
@media only screen and (max-width:375px){

    h1{
        font-size: 1.1rem;
    }
    main{
        display: flex;
        flex-direction: column;
    }
    .izq{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 20px;
    }
    .botones{
        display: flex;
        flex-direction: column;
    }

    
     .der{
        background-image: none;
        width: 90%;
        height: 333px;
        display: flex;
    }
    #resultado{
        flex: 1; 
        
        align-content: center;
    }

}