::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #0a3871;
    opacity: 0.5; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #0a3871;
    opacity: 0.5; /* Firefox */
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: #0a3871;
    opacity: 0.5; /* Firefox */
}
*{
    margin: 0;
    top: 0;
    font-family:'Courier New', Courier, monospace;
}

body{
    background: #E5E5E5;
}
header{
    /* border: solid 3px; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.titulo {
    /* border: solid 2px; */
    right: 0;
}
.izq{
    /* border: solid 1px orangered; */
    width: 100%;
    /* display: grid; */
    /* justify-content: center; */
}
input {
    /* border: solid 1px ; */
    display: flex;
    margin: 10px auto;
    
    width: 90%;
    height: 152px;
    outline: none;
    border: none;
    background: #E5E5E5;
    color: #0a3871;
    font-size: 22px;
    font-weight: bold;
    position: relative;
}
.info{
    font-weight: 400;
    font-size: .7rem;
    color: #495057;
    margin-left: 20px;
}
.botones{
    width:90%;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    gap: 12px;
}
#btnEncriptar{
    padding: 24px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px; 
    color: white;
    font-weight: 400;
    font-size: 16px;
}
#btnDesencriptar{
    height: 67px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-weight: 400;
    font-size: 16px;
}

.der{
    /* border: solid 1px blue; */
    
}
.salida{
    display: flex;
    flex-direction: column;
    gap: 32px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    height: auto;
}
#imagen{
    /* display: none ; */
}
.mensaje1{
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
    
}
.mensaje2{

    text-align: center;
    ;
}
#resultado{
    max-width: 100%;
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #495057;
    text-align:center;
    border: #0A3871 solid 1px;
   
}
.boton{
    /* border: solid 2px rgb(7, 255, 69); */
    display: flex;
    justify-content: center;
    padding: 10px;
}
#btncCopiar{
    
    
    /* display: none; */
    width: 90%;
    border-radius: 24px;
    border: 1px solid #0A3871;
    height: 67px;
}

footer{
    display: flex;
    flex-direction: column;   
}