body{
    background: #E5E5E5;
}

#logo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}

#mensaje{
    background: #E5E5E5;
    position: absolute;
    width: 577px;
    height: auto;
    left: 240px;
    top: 168px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 250%;
    text-decoration: none;

    border: none;
    outline: none ;
    
    color: #0A3871;
}

.salida{
    
    position: absolute;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 40px;
    

    /* White */

    background: #FFFFFF;
    /* shadow */

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}
#imagen{
    background: #0A3871;
    position: float;
    width: 336px;
    height: 304px;
    margin: 100px 30px;
}

#atencion{
    width: 336px;
    height: auto;
    margin: auto;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    /* or 29px */
    text-align: center;
    /* Gray/gray-500 */
    color: #343A40;
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 885px;
}

#resultado{
    width: 336px;
    height: 300px;
    margin-left: 32px;
    margin-top: 50%;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-style: italic;
    font-weight: 400;
    font-size: 22px;
    line-height: 180%;
    /* or 24px */

    text-align: justify;

    color: #495057;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

    border: none;
    outline: none;
    
}
#btnEncriptar{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 22px;
    gap: 8px;
    
    width: 125px;
    height: 67px;
    
    /* Dark blue/dark-blue-300 */
    
    background: #0A3871;
    border-radius: 24px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
}
#btnDesencriptar{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 22px;
    gap: 8px;
    
    width: 125px;
    height: 67px;
    
    /* Light gray */
    
    background: #D8DFE8;
    /* Dark blue/dark-blue-300 */
    
    border: 1px solid #0A3871;
    border-radius: 24px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
    
    font-size: 16px;
    font-weight: bold;
    color: #0A3871;
    text-align: center;
}
#btncCopiar{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 22px;
    gap: 8px;
    
    width: 125px;
    height: 67px;
    
    /* Light gray */
    
    background: #D8DFE8;
    /* Dark blue/dark-blue-300 */
    
    border: 1px solid #0A3871;
    border-radius: 24px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
    
    font-size: 16px;
    font-weight: bold;
    color: #0A3871;
    text-align: center;
}
#nuevo{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 14.2px;
    gap: 8px;
    
    width: 125px;
    height: 67px;
    
    /* Light gray */
    
    background: #D8DFE8;
    /* Dark blue/dark-blue-300 */
    
    border: 1px solid #0A3871;
    border-radius: 24px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;  

    font-size: 16px;
    font-weight: bold;
    color: #0A3871;
    text-align: center;
}
/*footer {
    position: absolute;
    display: inline;
    color: blueviolet;
    background-color: aquamarine;
    width: 50%;
    padding: 10px 30%;

    border: solid;
    border-style:groove;

}
h4{
    font-weight: bolder;
    font-size: 16px;
}